body {
    margin: 0;
    font-family: "Roboto", sans-serif; 
    background-color: #F8F8FF;
}
  
.topnav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background-color: #ffffff;
}
  
.topnav img {
    padding: 5px 5px;
    width: 10%;
}

.btn-logout {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 60%;
    border: 0;
    padding: 8px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}

.btn-logout:hover,.btn-logout:active,.btn-logout:focus {
    background: #43A047;
}

h1 {
    font-size: 45px;
    color: #4CAF50;
}

h2 {
    font-size: 25px;
    color: #4CAF50;
}

p {
    color: rgb(102, 182, 104);
}

.info-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-user p {
    font-size: 25px;
}

.fa-user {
    font-size: 25px;
}

.home {
    padding: 1% 0;
    margin: auto;
}

.form h2{
    font-size: 17px;
    font-weight: bold;
    color: #4CAF50;
}

.form {
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

span {
    color: #EF3B3A;
    font-size: 12px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.select {
    width: 100%;
    overflow:hidden;
    height: 6vh;
    margin-bottom: 5%;
    padding-left: 4%;
    font-size: initial;
    background-color: #ffffff;
    color: #4CAF50;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }

.containerCard{
    display: flex;
    justify-content: start;
    max-width: 100%;
}

.card h2 {
    text-align: center;
}

.chart-container{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFFFFF;
    padding: 2%;
}

.container-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 5%;
}